path: /var/www/dev.WebSiteFQDN/public_html/
url:  https://HttpBasicAuthUser:UrlEncodedPassword@dev.WebSiteFQDN
user: WordPressUser
core config:
        dbuser: WordPressDbUser
        dbpass: WordPressDbPassword